@model OnLeave.Models.UtilityBuildingModel
@{
    ViewBag.Title = "AddUtilityBuilding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LeftSideBar{
    @{Html.RenderPartial("AccounLeftSideBar");}
}


<div class="breadcrumb">
    @Html.ActionLink("Начало", "Index", "Home")
    » @Html.ActionLink("Профил", "Account", "Account")
    » @Html.ActionLink("Нов хотел", "AddUtilityBuilding", "Account", new { @class = "last" })
</div>

<h1>Нов Хотел / Къща </h1>

<div class="addhotel">
    <div id="addhotel">
        <div class="addhotel-heading">
            <div class="marker-addhotel">Стъпка 1: Данни Хотел</div>
        </div>
        <div class="addhotel-content" style="@(Model.Id == 0 ?  "display:block;" : "display:none")">

            @using (Html.BeginForm("AddUtilityBuilding", "Account", FormMethod.Post, new { id = "add" }))
            {
                @Html.AntiForgeryToken()

                <div class="content" style="padding: 0">
                    <table class="form">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="label">
                                        <span class="required">*</span>
                                        @Html.LabelFor(m => m.Name):
                                    </div>
                                </td>
                                <td>
                                    <div style="float:left">
                                        @Html.ValidationMessageFor(m => m.Name)
                                    </div>
                                    <div class="clear"></div>
                                    <div style="float:left">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "q1" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="label">
                                        <span class="required">*</span>
                                        @Html.LabelFor(m => m.NameEN):
                                    </div>
                                </td>
                                <td>
                                    <div style="float:left">
                                        @Html.ValidationMessageFor(m => m.NameEN)
                                    </div>
                                    <div class="clear"></div>
                                    <div style="float:left">
                                        @Html.TextBoxFor(m => m.NameEN, new { @class = "q1" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="label">
                                        <span class="required">*</span>
                                        @Html.LabelFor(m => m.UtilityBuildingTypeId):
                                    </div>
                                </td>
                                <td>
                                    <div style="float:left">
                                        @Html.ValidationMessageFor(m => m.UtilityBuildingTypeId)
                                    </div>
                                    <div class="clear"></div>
                                    <div style="float:left">
                                        @Html.DropDownListFor(m => m.UtilityBuildingTypeId, ViewBag.UtilityBuildingTypes as IEnumerable<SelectListItem>, new { @class = "q1", style = "background: #ffffff; width: 308px" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="required">*</span>
                                    @Html.LabelFor(m => m.Description):
                                </td>
                                <td>
                                    <div style="float:left">
                                        @Html.ValidationMessageFor(m => m.Description)
                                    </div>
                                    <div class="clear"></div>
                                    <div style="float:left">
                                        @Html.TextAreaFor(m => m.Description, new { rows = "5", @class = "q1 resize" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="required">*</span>
                                    @Html.LabelFor(m => m.DescriptionEN):
                                </td>
                                <td>
                                    <div style="float:left">
                                        @Html.ValidationMessageFor(m => m.DescriptionEN)
                                    </div>
                                    <div class="clear"></div>
                                    <div style="float:left">
                                        @Html.TextAreaFor(m => m.DescriptionEN, new { rows = "5", @class = "q1 resize" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="required">*</span>
                                    @Html.LabelFor(m => m.Address):
                                </td>
                                <td>
                                    <div style="float:left">
                                        @Html.ValidationMessageFor(m => m.Address)
                                    </div>
                                    <div class="clear"></div>
                                    <div style="float:left">
                                        @Html.TextAreaFor(m => m.Address, new { rows = "5", @class = "q1 resize" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="required">*</span>
                                    @Html.LabelFor(m => m.AddressEN):
                                </td>
                                <td>
                                    <div style="float:left">
                                        @Html.ValidationMessageFor(m => m.AddressEN)
                                    </div>
                                    <div class="clear"></div>
                                    <div style="float:left">
                                        @Html.TextAreaFor(m => m.AddressEN, new { rows = "5", @class = "q1 resize" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="required">*</span>
                                    @Html.LabelFor(m => m.ContactPerson):
                                </td>
                                <td>
                                    <div style="float:left">
                                        @Html.ValidationMessageFor(m => m.ContactPerson)
                                    </div>
                                    <div class="clear"></div>
                                    <div style="float:left">
                                        @Html.TextBoxFor(m => m.ContactPerson, new { @class = "q1" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="required">*</span>
                                    @Html.LabelFor(m => m.ContactPersonEN):
                                </td>
                                <td>
                                    <div style="float:left">
                                        @Html.ValidationMessageFor(m => m.ContactPersonEN)
                                    </div>
                                    <div class="clear"></div>
                                    <div style="float:left">
                                        @Html.TextBoxFor(m => m.ContactPersonEN, new { @class = "q1" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">                                    
                                    @Html.LabelFor(m => m.Size):
                                </td>
                                <td>
                                    <div style="float:left">
                                        @Html.ValidationMessageFor(m => m.Size)
                                    </div>
                                    <div class="clear"></div>
                                    <div style="float:left">
                                        @Html.TextBoxFor(m => m.Size, new { @class = "q1" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="required">*</span>
                                    @Html.LabelFor(m => m.PhoneNumber):
                                </td>
                                <td>
                                    <div style="float:left">
                                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                                    </div>
                                    <div class="clear"></div>
                                    <div style="float:left">
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "q1" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="required">*</span>
                                    @Html.LabelFor(m => m.CityId):
                                </td>
                                <td>
                                    <div style="float:left">
                                        @Html.ValidationMessageFor(m => m.CityId)
                                    </div>
                                    <div class="clear"></div>
                                    <div style="float:left">
                                        @Html.DropDownListFor(
                                        m => m.CityId,
                                        ViewBag.Cities as IEnumerable<SelectListItem>,
                                        "-- Избери град --",
                                        new { @class = "q1", style = "background: #ffffff; width: 308px" })
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="required">*</span>
                                    @Html.LabelFor(m => m.Rating):
                                </td>
                                <td>
                                    <div style="float:left">
                                        @Html.ValidationMessageFor(m => m.Rating)
                                    </div>
                                    <div class="clear"></div>
                                    <div style="float:left">
                                        <span class="starRating">
                                            <input id="rating5" type="radio" name="Rating" value="5" @if (Model.Rating == 5) { <text> checked</text>}>
                                            <label for="rating5">5</label>
                                            <input id="rating4" type="radio" name="Rating" value="4" @if (Model.Rating == 4) { <text> checked</text>}>
                                            <label for="rating4">4</label>
                                            <input id="rating3" type="radio" name="Rating" value="3" @if (Model.Rating == 3) { <text> checked</text>}>
                                            <label for="rating3">3</label>
                                            <input id="rating2" type="radio" name="Rating" value="2" @if (Model.Rating == 2) { <text> checked</text>}>
                                            <label for="rating2">2</label>
                                            <input id="rating1" type="radio" name="Rating" value="1" @if (Model.Rating == 1) { <text> checked</text>}>
                                            <label for="rating1">1</label>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <fieldset class="collapse-section">
                        <legend rel="open">Услуги</legend>
                        <p></p>
                        <div class="clear"></div>
                        <ul>
                            @for (int i = 0; i < Model.Facilities.Length; i++)
                            {
                                <li class="@(i % 3 == 0 ? "first-in-line" : (i % 3 == 2 ? "last-in-line" : ""))" style="width: 200px; background: none">
                                    @Html.EditorFor(m => m.Facilities[i])
                                </li>
                            }
                        </ul>
                        <div class="clear"></div>
                        <p></p>
                    </fieldset>

                    <fieldset class="collapse-section">
                        <legend rel="open">Стаи</legend>
                        <p></p>
                        <div class="clear"></div>
                        <div class="cart-info">
                            <div class="shop-cart">
                                <table id="rooms" style="table-layout: fixed">
                                    <thead>
                                        <tr>
                                            <th style="width: 15%">Начало</th>
                                            <th style="width: 15%">Край</th>
                                            @foreach (var roomType in ((OnLeave.Models.RoomType[])ViewBag.RoomTypes))
                                            {
                                                <th>@roomType.Description</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.EditorFor(x => x.Periods)
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <p></p>
                    </fieldset>

                    <div class="buttons" style="margin: 0 20px">
                        <div class="left">
                            <a class="button" href="@Url.Action("Login", "Account")"><span>Назад</span></a>
                        </div>
                        <div class="right">
                            <a class="button" onclick="$('#add').submit();"><span>Продължи</span></a>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="addhotel-heading">
            <div class="marker-chekout"><span>Стъпка 2: Карта</span></div>
        </div>
        <div class="addhotel-content" style="@(Model.Id == 0 ? "display:none;" : "display:block;")">

            @using (Ajax.BeginForm("SaveBuildingLocation", "Account",
            new AjaxOptions
            {
                OnSuccess = string.Empty,
                OnFailure = "handleError('Hotel Location not saved. Please contact Administrator')"
            },
            new { @id = "map" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("buildingId", Model.Id)
                @Html.Hidden("latitude", Model.Latitude)
                @Html.Hidden("longitude", Model.Longitude)
                @Html.Hidden("locationName", Model.Name)
            }

            <div id="map-canvas" style="width: 100%; height: 600px"></div>


            <div class="clear"></div>
            <div class="buttons" style="margin: 10px 20px 0 20px">
                <div class="left">
                </div>
                <div class="right">
                    <a class="button" onclick="$('#map').submit(); return false;" href=""><span>Запази</span></a>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="payment-address">
    <div class="addhotel-heading">
        <div class="marker-chekout"><span>Стъпка 3: Снимки</span></div>
    </div>
    <div class="addhotel-content" style="@(Model.Id == 0 ? "display:none;" : "display:block;")">

        <div id="photoes">
            @{Html.RenderPartial("_BuildingPhotoes", Model);}
        </div>

        <div class="clear"></div>
        <div class="buttons" style="margin: 10px 20px 0 20px">
            <div class="left">
            </div>
            <div class="right">
                <a class="button" href="@Url.Action("UtilityBuildings", "Account")"><span>Край</span></a>
            </div>
        </div>
    </div>
</div>

<div class="box-container">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/autosize")
    @Scripts.Render("~/bundles/jquery-ui")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.resize').autosize();
            attachAddPicture();
            initialize();
            $('.datepick').each(function () { $(this).datepicker({ dateFormat: "dd/mm/yy" }) });
        });
    </script>
}

