@model OnLeave.Models.EditViewModel

<div class="breadcrumb">
    @Html.ActionLink("Начало", "Index", "Home")
    » @Html.ActionLink("Профил", "Login", "Account")
    » @Html.ActionLink("Промяна", "EditAccount", "Account", new { @class = "last" })
</div>

<h1>Edit Account</h1>
<div class="box-container">

    @using (Ajax.BeginForm("EditAccount", "Account",
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "context",
            OnFailure = "handleError('Error. Please contact Administrator.')",
            OnSuccess = "init()"
        },
        new { id = "edit" }))
    {
        @Html.AntiForgeryToken()

        <h2>Данни</h2>

        <div class="content">
            <table class="form">
                <tbody>
                    <tr>
                        <td>
                            <span class="required">*</span>
                            @Html.LabelFor(m => m.FirstName):
                        </td>
                        <td>
                            <div style="float:left">
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>
                            <div class="clear"></div>
                            <div style="float:left">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "q1" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="required">*</span>
                            @Html.LabelFor(m => m.LastName):
                        </td>
                        <td>
                            <div style="float:left">
                                @Html.ValidationMessageFor(m => m.LastName)
                            </div>
                            <div class="clear"></div>
                            <div style="float:left">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "q1" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.Telephone):
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Telephone, new { @class = "q1" })
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="buttons">
                <div class="left">
                    <a class="button" href="@Url.Action("Login", "Account")"><span>Назад</span></a>
                </div>
                <div class="right">
                    <a class="button" onclick="$('#edit').submit();"><span>Продължи</span></a>
                </div>
            </div>
        </div>
    }

</div>
<script type="text/javascript">
    //this code goes in your partialview
    $(function () {
        //allow the validation framework to re-prase the DOM
        jQuery.validator.unobtrusive.parse();

        //or to give the parser some context, supply it with a selector
        //jQuery validator will parse all child elements (deep) starting
        //from the selector element supplied
        jQuery.validator.unobtrusive.parse("#content");
    });
</script>