@model OnLeave.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LeftSideBar{
    @{Html.RenderPartial("AccounLeftSideBar");}
}

<div class="breadcrumb">
    @Html.ActionLink("Home", "Index", "Home")
    » @Html.ActionLink("Account", "Login", "Account")
    » @Html.ActionLink("Forgotten Password", "ForgotPassword", "Account", new { @class = "last" })
</div>
<h1>Forgot Your Password?</h1>
<div class="box-container">
    <div class="account-forgotten">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotten" }))
        {
            @Html.AntiForgeryToken()
            
            <p>Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.</p>
            <h2>Your E-Mail Address</h2>
            <div class="content">
                <table class="form">
                    <tbody>
                        <tr>
                            <td>@Html.DisplayNameFor(m => m.Email) :</td>
                            <td>
                                <div>
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                <div class="clear"></div>
                                <div>
                                    @Html.TextBoxFor(m => m.Email, new { id = "forgotten_email" })
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="buttons">
                <div class="left"><a  onmousedown="$('#forgotten_email').val('')"
                                     href=@Url.Action("Login", "Account") class="button"><span>Back</span></a></div>
                <div class="right">
                    <a onclick="$('#forgotten').submit();" class="button"><span>Continue</span></a>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}